// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

@import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;

//
// Custom styles
//

@import "icon-list";

body {
    .strike-through {
        text-decoration: line-through;
    }

    .available-times {
        .slots-wrapper {
            display: inline-block;
            .slot {
                float: left;
                padding: 10px;
                background-color: #32ce55;
                margin: 5px;
                color: white;
                cursor: pointer;
                text-decoration: none;
                &:hover {
                    background-color: var(--success);
                }
            }
        }
    }
}

// Style Bootstrap icons
.bi {
    fill: currentColor;
}